<html>

<head>
    <meta charset="utf-8" />
    <title>Commentaires</title>

    <% include partials/head_css_import.ejs %>
</head>

<body>

<% include partials/navbar.ejs %>

<ul>
    <li>Si j'ai quoi ? affirmatif.</li>
    <li>Et quoi d'autre ? No comment.</li>
</ul>

<% include partials/js_import.ejs %>
</body>

</html>